$fundo: blue;
$cor-titulo: yellow;

body {
  background: $fundo;

  div {
    border: 2px solid white;

    h1 {
      font-size: 12px;
      color: blue;
    }

    h2 {
      color: $cor-titulo;
    }
  }
}
