body {
  background: #002244;
}

.container {
  border: 3px solid white;
  width: 640px;
  height: 480px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.filho {
  border: 3px solid red;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 40px;
}

.alto {
  height: 240px;
}
