body {
  background: #002244;
}

.container {
  border: 3px solid white;
  width: 640px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.filho {
  border: 3px solid red;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 40px;

  flex-shrink: 1;
}

.maior {
  height: 170px;
}
.encolhe-mais {
  flex-shrink: 2;
}

.cresce-mais {
  flex-grow: 2;
}

.base {
  flex-basis: 200px;
}

.quebra {
  flex: wrap;
}
